.MainLayout {
  padding: 20px;
}

.MainLayout__logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  float: left;
}

.MainLayout__Text {
  text-align: center;
}

.MainLayout__header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.MainLayout__intro {
  font-size: large;
}

.Poster {
  width: 100%;
}

.Trailer {
  width: 100%
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
